.slider{
  width: 600px;
  overflow: hidden;
  position: relative;
}

.slider .controls ul{
  padding:0px;
  text-align: center;
  position: absolute;
  bottom:1em;
  margin:0px;
  width:100%;
  z-index: 5;
}

.slider .controls li{
  list-style-type: none;
  background-color: #444;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow:0px 0px 5px rgba(0,0,0,0.4);
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}

.slider .controls li.active{
  background-color: rgb(50,50,150);
}

.slider .container{
  white-space: nowrap;
  position: relative;
  transition: all 0.3s;
  left:0px;
}

.slider .container *{
  white-space: normal;
}

.slider img{
  width: 100%;
  display: inline-block;
  margin-right: -4px;
}
