.indicator{
  position: absolute;
  bottom:-5px;
  left:0px;
  height: 5px;
  width:0px;
  background-color: rgb(50,50,200);
  border-radius: 2px;
  transition: all 0.2s;
}

.tabs{
  position: relative;
  overflow: hidden;
}

.tabs .container{
  white-space: nowrap;
  left:0px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.tabs .container *{
  white-space: normal;
}

.tab{
  display: inline-block;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  vertical-align: top;
  margin-right: -4px;
  overflow-y: scroll;
}



.card{
  background: white;
  border-radius:2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  width:80%;
  margin:0 auto;
}
.card .tabs-control{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px;
}

.tabs-control a{
  flex-basis: 0;
  flex-grow: 1;
  padding: 8px;
  border: solid 1px #eee;
  color:#999;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.tabs-control a:visited{ color: inherit; }
