.avatar{
  position: relative;
}

.avatar input[type='file']{
  display: none;
}

.avatar-selector{
  background-color: #009688;
  color:white;
  border-radius: 50%;
  padding:0.8em;
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  right:2.5em;
  bottom:0.5em;
}
.profile{
  text-align: center;
}
.profile .img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.card{
  background: white;
  display: inline-block;
  padding: 7px;
  border-radius:2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  width:300px;
  height: 400px;
}
